* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 1.2;
    overflow: hidden;
    scroll-behavior: smooth;
}

header, section {
    max-width: 80vw;
    margin: 0 auto;
}

#title-block-header, .level2, .level1 h1 {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-block-header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    margin-left: 1rem;
}

blockquote {
    border-left: 0.2rem #aaa solid;
    padding-left: 1rem;
    margin: 1rem 0;
    font-style: italic;
}

div.sourceCode {
    background-color: #eee;
    padding: 0.2rem;
    font-size: 0.5rem;
    line-height: 1.5;
}

code {
    background-color: #eee;
}

table {
    border-spacing: 0;
}

tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

td, th {
    border-top: 1px solid #dee2e6;
    padding: 2vh;
}
